.logo {
  display: flex;
  align-items: flex-start;
  font-family: 'Work Sans', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #1f1e25;
}

.logo svg {
  margin-right: 10px;
}
