.official {
  margin-top: -8px;
}

.official__description {
  padding-top: 8px;
  font-size: 12px;
  color: #707c87;
}

.official address {
  font-style: normal;
}

.official p {
  margin-top: 0;
  margin-bottom: 5px;
}
