.user-block {
  padding-left: 30px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  background-image: url('./enter.svg');
  background-repeat: no-repeat;
  background-size: 20px 22px;
  color: #1f1e25;

  &:hover {
    text-decoration: underline;
    color: #2c36f2;
  }
}
